@icco:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiJBUVQ0aG5tb3Q5czFyQkhxRXoxYXZUc3EtVm5QRkxFdmJXaEJsa0J2UzdaRE9mVUNCV3hnWjB3IiwiZXhwIjoxNzg1Mzk1MTgxLCJpYXQiOjE3ODUzOTE1ODEsImlzcyI6ImdpdGh1YiIsImp0aSI6IjEwODJjNDZmLTAwMDUtNGY1Yy04YjgzLTNlNTY4NTIzNzhhMSIsInZlciI6M30.blWxeeLcgSYiYntyS0TtHtzox3SOeLrm0OxziHs40Zk3ofz1d8wjpO8jnQ4de07D-Z5O0LFOsOa7gUirs-N6tw
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiJTdklsZmg4Ui0tdXBpZUUwZmlLaVpNcC1pVUNrLWp4VllqZGFSN0U4djNDdEhhTzFqWVdzcFhzIiwiZXhwIjoxNzg1NDgyMzY3LCJpYXQiOjE3ODU0Nzg3NjcsImlzcyI6ImdpdGh1YiIsImp0aSI6IjY2YzY2YTBhLTRjNjYtNDg1Ny1hMDAwLTkzZTU4ZTVlNjY3YSIsInZlciI6M30.mClAdPmG4EY22U5MbPiFHBXCMufOtwJ8CmWiwfUCOaH44WKJLbBK82KNCSPJ9HiljRDbfE3SId2NHZ61lJl-Og
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiJQMTg5dTVlQzNFekU2N2NJNV9GRF9fVjFxUjY2N3RzSG9WYlhGSU5TWGRhNEtfcjVFTVFQTElFIiwiZXhwIjoxNzg2MjU3MDk0LCJpYXQiOjE3ODYyNTM0OTQsImlzcyI6ImdpdGh1YiIsImp0aSI6ImZjYTYwNjdkLTY2MjQtNGMzNS04ZmMyLTBhZWQ1MmNkOTE3MiIsInZlciI6M30.hIyaNR-HyVxDOhI7tUtnEqLT_nFuWLbxAGBSwtMZg4RJif-LdSIcfEVtxr_NBcH2KHF28PVWH0uVMeWC3dKJIQ
