@icco:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiI1WE1iZGMtVkxTMkVFQjcwdHd4NzJFc0NodnVZYzFuWS1VUkNidG0yTHFTTUNlTnVqeFgxc3lvIiwiZXhwIjoxNzg2NjAzNTgzLCJpYXQiOjE3ODY1OTk5ODMsImlzcyI6ImdpdGh1YiIsImp0aSI6IjgyMjYzNzlhLWUwNGEtNDU2Yy05NGMxLTc4NDdjMDFmOWQ2NCIsInZlciI6M30.6GKFkoeu6l0-yvuaO7lq7OPrbIO4dzMs3_-xz3wdEak_EqXS4arqhAg--wVabCQ7eIljMcqCLjHPG8zmsQQ9Zw
