@icco:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiJBUVQ0aG5tb3Q5czFyQkhxRXoxYXZUc3EtVm5QRkxFdmJXaEJsa0J2UzdaRE9mVUNCV3hnWjB3IiwiZXhwIjoxNzg1Mzk1MTgxLCJpYXQiOjE3ODUzOTE1ODEsImlzcyI6ImdpdGh1YiIsImp0aSI6IjEwODJjNDZmLTAwMDUtNGY1Yy04YjgzLTNlNTY4NTIzNzhhMSIsInZlciI6M30.blWxeeLcgSYiYntyS0TtHtzox3SOeLrm0OxziHs40Zk3ofz1d8wjpO8jnQ4de07D-Z5O0LFOsOa7gUirs-N6tw
